body {
  background-color: rgb(29, 29, 15);
}

@media (prefers-reduced-motion: no-preference) {
  .pokeball {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.header{
  width: 100%;
}

